{% extends 'base.html'%}
{% load static %}
{% load thumbnail %}
{%load maincontainer_tag %}

{% block title%}
| Home
{% endblock title%}

{% block container %}
<!-- main container stars here -->
<div class="container-fluid px-0">
  <!-- home page carousel starts -->
   {% if carousel_home %}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {%for item in carousel_home %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" {%if forloop.first%} class="active" {%endif%} ></li>
     {%endfor%}
    </ol>

    <div class="carousel-inner">
      {%for item in carousel_home %}
      <div class="carousel-item {%if forloop.first%}active{%endif%}">
        <img class="d-block w-100" src="{{ item.image.url}}" alt="{{forloop.counter0}} slide">
      </div>
      {%endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% endif%}
  <!-- home page carousel ends -->
  <div class="col-12 p-0">
    {% main_frame_content %}
  </div>
  <div class="container-fluid">
    <!-- latest items starts -->
    <div class="row latest-slick-row" style="background-color:#949ff3;">
      <div class="col-lg-12" >
        {% if latest_product %}
        <h3 class="section-title mb-0 pb-0 mt-0" style="color: #fff;">Latest Products</h3>
        <div class="latest-slick-container p-4">
          {% for product in latest_product %}

          <div class="latest-slick-item">
            <a href="{% url 'product-detail' product.slug %}">
              <img class="d-block" src="{{ product.image.url}}" alt="slide-image-name.png">
            </a>

          </div>
          {%endfor%}
        </div>
        {% endif %}
      </div>
      <div class="col-lg-12" >
        {% if trending_product %}
        <h3 class="section-title mb-0 pb-0 mt-0" style="color: #fff;">Trending Products</h3>
        <div class="latest-slick-container p-4">
          {% for product in trending_product %}

          <div class="latest-slick-item">
            <a href="{% url 'product-detail' product.slug %}">
              <img class="d-block" src="{{ product.image.url}}" alt="slide-image-name.png">
            </a>

          </div>
          {%endfor%}

        </div>
        {% endif %}
      </div>
    </div>
    <!-- latest items ends -->

    <!-- Feature Produce container -->
    <div class="row d-flex justify-content-center">
      <div class="col-12 py-5">
        <h3 class="section-title">Feature Products</h3>
      </div>
      {% for product in feature_product %}
      <div class=" col-6 col-md-3 col-lg-3">
        <div class="product__item card card-primary">
          <img alt="image" src="{{ product.image|thumbnail_url:'product'}}" class="img-fluid" style="width: 100%;">
          <div class="product__btns">
            <a href="{% url 'product-detail' product.slug %}" class="product__btn btn btn-primary"
              style="color: black;">
              <i class="fas fa-eye" style="color:white;"> View product</i>

            </a>
          </div>
        </div>
      </div>
      {%endfor%}
      <!-- Featuer Product container ends here -->

    </div>

    <!-- our Product container starts here -->
    <div class="row py-5 deeprow">
      <div class="col-12">
        <h3 class="section-title">Our Products</h3>
      </div>
      {% for product in our_product %}
      <div class="col-12 p-5">
        <div class="card mb-3">
          <div class="row no-gutters cardorientation">
            <div class="col-md-4">
              <img class="card-img" src="{{product.image|thumbnail_url:'details'}}" alt="image"
                style="height:auto; width:100%; display:block;  margin-left:auto; margin-right: auto;">
            </div>
            <div class="col-md-8">
              <div class="card-body ">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{product.detail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endfor %}
    </div>
    <!-- our Product conainer ends here -->
  </div>

</div>
<!-- main container ends here -->
{% endblock container%}

{%block javascript%}
<script>
  $('.latest-slick-container').slick({
    dots: false,
    prevArrow: false,
    nextArrow: false,
    infinite: true,
    speed: 300,
    centerMode: true,
    variableWidth: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1000,
  });

  // $(document).scroll(function () {
  //   var y = $(this).scrollTop();
  //   if (y > 187) {
  //     $('.navbar').addClass('navbar-sticky');
  //     $('.navbar').css('height', '70px');
  //   } else {
  //     $('.navbar').css('height', '100px');
  //     $('.navbar').removeClass('navbar-sticky');
  //   }
  // });
</script>
{%endblock javascript%}