<!-- footer stars here here  -->
<div class="container-fluid">
  <div class="row bg-light pt-5 sub-footer">
    <div class="col-md-4 col-lg-5 col-sm-12 px-5 pb-3">
      <h4 class="sub-footer-title">Who We Are</h4>
       <p class="text-justify">AG  Pashmina Private Limited is a manufacturer and distributor of finest quality of cashmere products. Exploring local handmade  cashmere products in the every corner of the world is our main motto
          <br />
        <br />
      We are based on a core value to provide an unparalleled quality of cashmere collections with our dedicated service to our customers. We have gone far lengths to make our customers happy.
       </p>
    </div>
    <div class="col-md-4 col-lg-3 col-sm-12 px-5 pb-3">
      <h4 class="sub-footer-title">Contact Us </h4>
      <ul style=" list-style: none; padding: 0.2rem;">
        <li><i class="fas fa-map-marker-alt mr-2"></i>{{contact.location}}</li>
        <li><i class="fas fa-mobile-alt mr-2"></i> {{contact.phone}}</li>
        <li><i class="far fa-envelope mr-2"></i>{{contact.email}}</li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 px-5 pb-3">
      <h4 class="sub-footer-title">Visit Us at</h4>
      <div class="responsive-map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.2347803443095!2d85.30441171396872!3d27.71003643198304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19cf2a90ecff%3A0x1e6b3458daa6725!2sAG%20Pashmina%20pvt.%20Ltd!5e0!3m2!1sen!2snp!4v1601906853511!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>


    <footer class="main-footer bg-dipen text-center mx-0">
      <div class="footer-logo mt-5 mb-4">
        <h3 href="#"> <span style="color: #fce850;">AG</span>
          <span style="color: #ffffff;">Pashmina</span></h3>
      </div>
      <div class="footer-social-icons">
        <ul>
          <li><a class="twitter" href="{{links.twitter_link}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
              </li>
              <li><a class="facebook" href="{{links.facebook_link}}" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a></li>
              <li><a class="Google plus" href="{{links.google_link}}" target="_blank"><i class="fab fa-google fa-2x"></i></a></li>
              <li><a class="Instagram" href="{{links.instagram_link}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="copyrights">
        <p>
          © 2020 <a class="organization" href="{% url 'homepage' %}">AGpashmina</a>. All Rights Reserved | Developed by
          <a class="developer" href="https://www.facebook.com/deepindraw">Dipendra Pandey</a>
        </p>
      </div>
    </footer>
  </div>
</div>
<!-- footer ends here -->