    <!-- footer stars here here  -->
    <div class="container-fluid">
      <div class="row bg-light pt-5">
        <div class="col-md-4 col-lg-4 text-center px-5 pb-3">
          <h4 style="color: #6777ef ;">Who We Are</h4>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content
            here.</p>
        </div>
        <div class="col-md-4 col-lg-4 pb-3 text-center">
          <h4 class="" style="color:  #6777ef ;">Contact Us </h4>
          <ul style="list-style: none;">
            <li><i class="fas fa-map-marker-alt mr-2" ></i>
              <p> Locations</p>
            </li>
            <li><i class="fas fa-mobile-alt mr-2" ></i>
              <p> 9844702481</p>
            </li>
            <li><i class="far fa-envelope mr-2" ></i>
              <p> dipendra@dipen.com</p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 text-center pb-3">
          <h4 style="color:  #6777ef ;">Visit Us at</h4>
          <div class="responsive-map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.8287678063075!2d85.32575321453794!3d27.691686732787975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19bb6d5813b3%3A0xd8399a99677e490b!2zTmVwYWwgTWVnYSBDb2xsZWdlIOCkqOClh-CkquCkvuCksiDgpK7gpYfgpJfgpL4g4KSV4KSy4KWH4KSc!5e0!3m2!1sen!2snp!4v1600700002389!5m2!1sen!2snp"
              frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>


        <footer class="main-footer bg-dipen text-center mx-0">
          <div class="footer-logo">
            <h3 href="#"> <span>AG</span>Pashmina</h3>
          </div>
          <div class="footer-social-icons">
            <ul>
              <li><a class="twitter" href="#" style="text-size-adjust: 50px;"><i class="fab fa-twitter fa-2x"></i></a>
              </li>
              <li><a class="facebook" href="#" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a></li>
              <li><a class="Google plus" href="#" target="_blank"><i class="fab fa-google fa-2x"></i></a></li>
              <li><a class="Instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="copyrights">
            <p> © 2020 AGpashmina. All Rights Reserved | Design by <a href="https://www.facebook.com/deepindraw">Dipendra Pandey</a>
            </p>
          </div>
        </footer>
      </div>
    </div>
    <!-- footer ends here -->